@model StudentModel

<form asp-controller="Student" asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="studentFristname" class="form-label">studentFristname</label>
            <input type="text" class="form-control" asp-for="studentFristname">
        </div>
        <div class="mb-3">
            <label asp-for="StudentLastname" class="form-label">StudentLastname</label>
            <input type="text" class="form-control" asp-for="StudentLastname">
        </div>
        <div class="mb-3">
            <label asp-for="Age" class="form-label">Age</label>
            <input type="number" class="form-control" asp-for="Age">
        </div>
        <div class="mb-3">
            <label asp-for="phonenumber" class="form-label">phonenumber</label>
            <input type="tel" class="form-control" asp-for="phonenumber">
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" asp-for="Email">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
</form>
